<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express.js</title>
</head>
<body>
    <header>
        <h1 style="color: #f5019b; text-align: center;">Todo List</h1>
    </header>
    <main style="width: 400px; margin: 0 auto;">
      
        <%- include('form') %> 
        <h3>Les Tâches : </h3>

        <ul>
            <% tasks.forEach((task, idx) => { %> 
               <li>
                <%= idx %> 
                <% if (task.done) { %>
                   <s><%= task.title %></s> | <a href="/task/<%= idx %>/delet">Supprimer</a>
                    <%} else { %>   
                    <%= task.title %>  | <a href="/task/<%= idx %>/done">Terminer</a> 
                 <% } %>
               </li>
            <% }) %>
        </ul>

    </main>
</body>
</html>